@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #3B82F6;
  --secondary-color: #9333EA;
}

body {
  @apply bg-gray-50 text-gray-900 font-sans scroll-smooth;
  overscroll-behavior: none;
}

html {
  scroll-behavior: smooth;
}

.dark {
  @apply bg-gray-900 text-gray-100;
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-all;
  }

  .btn-primary {
    @apply bg-primary text-white hover:opacity-90;
  }


  .input {
    @apply w-full px-4 py-2 border border-gray-300 dark:border-gray-700 bg-white dark:bg-gray-800 rounded-md focus:outline-none focus:ring-2 focus:ring-primary dark:text-white;
  }

  .card {
    @apply bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden;
  }

  .heading {
    @apply font-bold text-gray-900 dark:text-white;
  }
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary to-secondary;
}

/* Animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}